<ul>
    <li>
        <a [routerLink]="['/']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/singup']">singup</a>
    </li>
    <li>
        <a [routerLink]="['/user']">user</a>
    </li>
    <li>
        <a [routerLink]="['/block']">Block</a>
    </li>
    <li>
        <a [routerLink]="['/directives']">directives</a>
    </li>
    <li>
        <a [routerLink]="['/form']">form</a>
    </li>
    <li>
        <a [routerLink]="['/dev']">developper</a>
    </li>
    <li>
        <a [routerLink]="['/onomatopia']">onomatopia</a>
    </li>
    <li>
        <a [routerLink]="['/cocktail']">cocktail</a>
    </li>
</ul>
