<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
    <div>
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" [(ngModel)]="model.firstname"
            #firstname="ngModel" required minlength="3" maxlength="20">
    </div>
    <div *ngIf="firstname.errors">
        <span *ngIf="firstname.errors?.minlength" [ngStyle]="{color: 'red'}">La
            longueur maximale doit être supérieure à 3</span>
    </div>
        <div>
            <label for="lastname">Lastname</label>
            <input name="lastname" type="text" [(ngModel)]="model.lastname"
                #lastname="ngModel" required minlength="3" maxlength="20">
        </div>
        <div *ngIf="lastname.errors">
            <span *ngIf="lastname.errors?.minlength" [ngStyle]="{color: 'red'}">La
                longueur minimal doit être supérieure à 3</span>
        </div>
        <div>
            <label for="email">Email</label>
            <input name="email" type="email" [(ngModel)]="model.email"
                #email="ngModel" required email>
        </div>
        <div *ngIf="email.errors">
            <span *ngIf="email.errors.email" [ngStyle]="{color: 'red'}">L'adresse email doit être valide</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" [(ngModel)]="model.password"
                #password="ngModel" required minlength="8">
        </div>
        <div *ngIf="password.errors">
            <span *ngIf="password.errors?.minlength" [ngStyle]="{color: 'red'}">La
                longueur minimal doit être supérieure à 8</span>
        </div>
        <button type="reset">Restaurer</button>
        <button type="submit">Sauvegarder</button>
</form>